<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <%- include('header') %>

    <div class="contact">
        <h2>Contact Me</h2>
            <%- include('contactForm') %>
            <button type="submit" class="btn form-btn" onclick="submitted()">Submit</button>
        </div>
        <span style="color: var(--clr-accent2); font-size: large; padding-inline: 1rem; display: block; margin-block: 1rem;">Email me - john.temp@mail.com</span>
        <span style="color: var(--clr-accent2); font-size: large; padding-inline: 1rem; display: block; margin-bottom: 4rem;">Phone - +312******0</span>

        <%- include ('footer') %>
    <script src="/main.js"></script>    
</body>
</html>
