<form action="#" method="post" id="contact_form">
    <div class="name">
      <label for="name"></label>
      <input type="text" placeholder="Name" name="name" id="name_input" required>
    </div>
    <div class="email">
      <label for="email"></label>
      <input type="email" placeholder=" E-mail" name="email" id="email_input" required>
    </div>
    <div class="message">
      <label for="message"></label>
      <textarea rows="2" cols="7" name="message" placeholder="What do you want to talk about?" id="message_input" cols="30" rows="5" required></textarea>
    </div>
</form>