<footer>
    <div class="foot">
        <div class="logo"><a href="/">MATT AITIA</a></div>
        <div class="foot-follow">
            <!-- <h3>Follow me on social</h3> -->
            <div class="social-links">
                <ul>
                    <li><a href="https://www.youtube.com/" target="_blank">
                        <svg class="svg-yt" width="53" height="30" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="52.9609" height="52.9609" rx="5.56338" fill="#DFDFDF"/>
                            <path d="M26.4325 12.9812C26.4325 12.9812 16.8596 12.9812 14.4719 13.6209C13.1541 13.973 12.1185 15.0101 11.7665 16.3263C11.1267 18.714 11.1268 25.2258 11.1268 25.2258C11.1268 25.2258 11.1267 31.7375 11.7665 34.1252C12.1185 35.443 13.1556 36.4786 14.4719 36.8306C16.8596 37.4704 26.4325 37.4703 26.4325 37.4703C26.4325 37.4703 36.0053 37.4704 38.393 36.8306C39.7093 36.4786 40.7464 35.4415 41.0984 34.1252C41.7382 31.7375 41.7381 25.2258 41.7381 25.2258C41.7381 25.2258 41.7382 18.714 41.0984 16.3263C40.7464 15.0101 39.7093 13.973 38.393 13.6209C36.0053 12.9812 26.4325 12.9812 26.4325 12.9812ZM26.4325 16.0424C30.8436 16.0424 36.3672 16.2469 37.6008 16.5775C37.8595 16.6463 38.0715 16.8583 38.1419 17.1185C38.5108 18.493 38.677 22.6881 38.677 25.2258C38.677 27.7635 38.5108 31.957 38.1419 33.333C38.073 33.5917 37.861 33.8037 37.6008 33.8741C36.3687 34.2047 30.8436 34.4092 26.4325 34.4092C22.0229 34.4092 16.4993 34.2047 15.2641 33.8741C15.0054 33.8052 14.7934 33.5932 14.723 33.333C14.3541 31.9585 14.1879 27.7635 14.1879 25.2258C14.1879 22.6881 14.3541 18.4931 14.723 17.1155C14.7919 16.8584 15.0039 16.6463 15.2641 16.5775C16.4962 16.2469 22.0214 16.0424 26.4325 16.0424ZM23.3713 19.9226V30.529L32.5547 25.2258L23.3713 19.9226Z" fill="black"/>
                            </svg>
                    </a>
            
            
                        </li>
                    <li><a href="https://www.tiktok.com/" target="_blank">
                        <svg class="svg-tiktok" width="54" height="30" viewBox="0 0 54 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.569839" width="52.9609" height="52.9609" rx="5.56338" fill="#DFDFDF"/>
                            <path d="M17.8734 12.9812C15.3557 12.9812 13.2817 15.0552 13.2817 17.5729V35.9397C13.2817 38.4575 15.3557 40.5315 17.8734 40.5315H36.2402C38.758 40.5315 40.8319 38.4575 40.8319 35.9397V17.5729C40.8319 15.0552 38.758 12.9812 36.2402 12.9812H17.8734ZM17.8734 16.0424H36.2402C37.105 16.0424 37.7708 16.7081 37.7708 17.5729V35.9397C37.7708 36.8046 37.105 37.4703 36.2402 37.4703H17.8734C17.0086 37.4703 16.3428 36.8046 16.3428 35.9397V17.5729C16.3428 16.7081 17.0086 16.0424 17.8734 16.0424ZM27.0568 19.1035V29.8175C27.0568 30.6823 26.3911 31.348 25.5262 31.348C24.6614 31.348 23.9957 30.6823 23.9957 29.8175C23.9957 28.9527 24.6614 28.2869 25.5262 28.2869V25.2258C23.0085 25.2258 20.9345 27.2997 20.9345 29.8175C20.9345 32.3352 23.0085 34.4092 25.5262 34.4092C28.044 34.4092 30.1179 32.3352 30.1179 29.8175V24.0509C31.061 24.7227 32.0451 25.2258 33.1791 25.2258V22.1646C33.1066 22.1646 32.0506 21.8293 31.3137 21.1871C30.5768 20.5449 30.1179 19.7387 30.1179 19.1035H27.0568Z" fill="black"/>
                            </svg>
                    </a>
            
            
                    <li><a href="https://www.instagram.com/" target="_blank">
                        <svg class="svg-insta" width="53" height="30" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.039093" width="52.9609" height="52.9609" rx="5.56338" fill="#DFDFDF"/>
                            <path d="M21.7092 12.9812C17.4894 12.9812 14.0563 16.4143 14.0563 20.6341V32.8786C14.0563 37.0984 17.4894 40.5315 21.7092 40.5315H33.9537C38.1735 40.5315 41.6066 37.0984 41.6066 32.8786V20.6341C41.6066 16.4143 38.1735 12.9812 33.9537 12.9812H21.7092ZM21.7092 16.0424H33.9537C36.4853 16.0424 38.5454 18.1025 38.5454 20.6341V32.8786C38.5454 35.4102 36.4853 37.4703 33.9537 37.4703H21.7092C19.1776 37.4703 17.1175 35.4102 17.1175 32.8786V20.6341C17.1175 18.1025 19.1776 16.0424 21.7092 16.0424ZM35.4843 17.5729C35.0784 17.5729 34.6891 17.7342 34.402 18.0212C34.115 18.3083 33.9537 18.6976 33.9537 19.1035C33.9537 19.5094 34.115 19.8987 34.402 20.1858C34.6891 20.4728 35.0784 20.6341 35.4843 20.6341C35.8902 20.6341 36.2795 20.4728 36.5666 20.1858C36.8536 19.8987 37.0149 19.5094 37.0149 19.1035C37.0149 18.6976 36.8536 18.3083 36.5666 18.0212C36.2795 17.7342 35.8902 17.5729 35.4843 17.5729ZM27.8315 19.1035C23.6117 19.1035 20.1786 22.5366 20.1786 26.7563C20.1786 30.9761 23.6117 34.4092 27.8315 34.4092C32.0512 34.4092 35.4843 30.9761 35.4843 26.7563C35.4843 22.5366 32.0512 19.1035 27.8315 19.1035ZM27.8315 22.1646C30.363 22.1646 32.4232 24.2248 32.4232 26.7563C32.4232 29.2879 30.363 31.348 27.8315 31.348C25.2999 31.348 23.2398 29.2879 23.2398 26.7563C23.2398 24.2248 25.2999 22.1646 27.8315 22.1646Z" fill="black"/>
                            </svg>
                    </a>
            
            
            </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-nav">
        <a href="/">
            <p>Home</p>
        </a>
        <a href="/about">
            <p>About Me</p>
        </a>
        <a href="/contact">
            <p>Contact Me</p>
        </a>
    </div>
</footer>
<div class="copyright">&copy; 2023 John.</div>
