<header class="header">
    <nav class="navbar">
        <div class="logo"><a href="/">MATT AITIA</a></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a class="nav-hover" href="/">Home</a></li>
            <li><a class="nav-hover" href="/about">About</a></li>
            <li><a class="nav-hover" href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
</header>